name: Publish packages

on:
  release:
    types: [published]

jobs:
  publish-packages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install dagger CLI
        uses: dagger/dagger-for-github@main
        with:
          cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}

      - name: Publish packages
        env:
          NPM_CONFIG_TOKEN: ${{ secrets.NPM_CONFIG_TOKEN }}
        run: dagger -c 'packages | release --env://NPM_CONFIG_TOKEN'
